.container {
  display: flex;
  justify-content: center;

  div {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border-width: 3px;
    border-style: solid;
    border-color: var(--gray-200) var(--gray-200) var(--gray-200) transparent;

    animation: loading 0.8s infinite linear;

    @keyframes loading {
      to {
        transform: rotate(360deg);
      }
    }
  }

  &.small {
    div {
      width: 18px;
      height: 18px;
      border-width: 2px;
    }
  }
}
