.container {
  border-bottom: 1px solid var(--gray-800);
  margin-bottom: 20px;
}

.content {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px 20px;

  span {
    color: var(--purple);
  }
}
