.container {
  label {
    cursor: pointer;

    div {
      width: 18px;
      height: 18px;
      border: 1px solid var(--purple);
      border-radius: 2px;
      position: relative;
    }

    input:checked + div {
      &::after {
        content: "";
        position: absolute;
        inset: 2px;
        background-color: var(--purple);
      }
    }
  }
}
